<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="ken.superlibrary.com.appdemo">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <!-- 连接网络权限，用于执行云端语音能力 -->
    <!-- <uses-permission android:name="android.permission.INTERNET"/> -->
    <!-- 获取手机录音机使用权限，听写、识别、语义理解需要用到此权限 -->
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <!-- 读取网络信息状态 -->
    <!-- <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/> -->
    <!-- 获取当前wifi状态 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <!-- 允许程序改变网络连接状态 -->
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
    <!-- 读取手机信息权限 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <!-- 读取联系人权限，上传联系人需要用到此权限 -->
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <!-- 外存储写权限，构建语法需要用到此权限 -->
    <!-- <uses-permission android:name="android.permission. WRITE_EXTERNAL_STORAGE"/> -->
    <!-- 外存储读权限，构建语法需要用到此权限 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <!-- 配置权限，用来记录应用配置信息 -->
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
    <!-- 手机定位信息，用来为语义等功能提供定位，提供更精准的服务 -->
    <!-- 定位信息是敏感信息，可通过Setting.setLocationEnable(false)关闭定位请求 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <!-- 如需使用人脸识别，还要添加：摄相头权限，拍照需要用到 -->
    <uses-permission android:name="android.permission.CAMERA"/>

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true"/>

    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>

    <application
        android:name=".base.BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- <activity android:name=".MainActivity"> -->
        <activity android:name=".activity.ListActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".activity.WaveActivity">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN"/> -->


            <!-- <category android:name="android.intent.category.LAUNCHER"/> -->
            <!-- </intent-filter> -->
        </activity>
        <!-- <activity android:name=".activity.ListActivity"/> -->
        <activity android:name=".activity.WordViewActivity"/>
        <activity android:name=".activity.SearchWordActivity"/>
        <activity android:name=".activity.SpeechEvaluatorActivity"/>
        <activity android:name=".activity.QRActivity"/>
        <activity android:name=".activity.TextDecoratorActivity"/>
        <activity android:name=".activity.WordColorDrawingActivity">
        </activity>
        <activity android:name=".activity.BaseCountDownTimerActivity">
        </activity>
        <activity android:name=".activity.WaveViewActivity">
        </activity>
        <activity android:name=".activity.ExaminationActivity">
        </activity>
        <activity android:name=".activity.EnlargeActivity">
        </activity>
        <activity android:name=".activity.OKHttpActivity">
        </activity>
        <activity android:name=".activity.LoginActivity">
        </activity>
        <activity android:name=".activity.ImagePickerActivity">
        </activity>
        <activity
            android:name="com.pizidea.imagepicker.ui.activity.ImageCropActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar">
        </activity>
        <activity
            android:name="com.pizidea.imagepicker.ui.activity.ImagePreviewActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar">
        </activity>
        <activity
            android:name="com.pizidea.imagepicker.ui.activity.ImagesGridActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar">
        </activity>
        <activity android:name=".activity.SlideLayoutActivity">
        </activity>
    </application>

</manifest>